<form action="/resultat" method="post">
<input type="texte" name="nom" placeholder="Nom de famille">
<input type="texte" name="prenom" placeholder="Prénom">
<input type="submit" value="envoyer">
</form>
